.welcome {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.397)), url(/images/alley.jpeg);
    background-size: 100% 100%;
}

.programs {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2)), url(/images/hands.jpg);
    background-size: cover;
}

.links {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.397)), url(/images/woman-sitting.jpg);
    background-size: cover;
}

.donate {
    border-bottom: 5px solid #50c16f;
}

@media (max-width: 745px) {
    .links {
        background: #50c16f;
    }
}