.carousel {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.carousel-item {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.carousel-item--hidden {
    opacity: 0;
}

.carousel__switch {
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
}

.carousel__switch i {
    font-size: 60px;
}

.carousel__switch__dot {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin: 0 10px;
    transition: transform 300ms ease-in-out;
}

.carousel__switch__dot--active {
    transform: scale(2);
}

.switch__arrow {
    transition: transform 150ms ease-in-out;
    cursor: pointer;
}

.switch__arrow:hover {
    transform: scale(1.2);
}