.options-container {
    display: flex;
    justify-content: space-between;
}

.donate  .material-icons {
    margin: 7rem;
    font-size: 10rem;
    transition: transform 200ms ease-in-out;
}

.donate .material-icons:hover {
    transform: translateY(-15px);
}

@media (max-width: 745px) {
    .options-container {
        flex-direction: column;
    }
    .donate .material-icons {
        margin: 2rem;
    }
}