.header {
    padding: 0 12rem;
    display: flex;
    align-items: center;
    margin: 0;
    background: #24b24b;
    color: white;
    height: 7rem;
    position: fixed;
    width: 84%;
    /* width: 100% */
    z-index: 1;
}

.header-link {
    margin: 0;
    text-decoration: none;
    color: white;
}

.links-section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
}

.link {
    /* margin-left: 7.5rem; */
    padding: 0 4.5rem;
    color: white;
    text-decoration: none;
    display: flex;
    height: 6.5rem;
    align-items: center;
    border-bottom: 5px solid transparent;

}

.link--active {
    /* color: #aef3aa; */
    border-bottom: 5px solid #aef3aa;
}

.link h4 {
    margin: 0;
}

.link--donate {
    margin: 0;
    margin-left: 7.2rem;
    padding: 1rem;
    border: 3px solid white;
}

@media (max-width: 745px) {
    .links-section {
        display: none;
    }
}