.header {
    padding: 0 12rem;
    display: flex;
    align-items: center;
    margin: 0;
    /* background: #24b24b;
    color: white; */
    background: white;
    color: #24b24b;
    height: 7rem;
    position: fixed;
    width: 84%;
    /* width: 100% */
    z-index: 1;
    box-shadow: 0 2px 5px rgba(78,76,80,.185);
}

.header-link {
    margin: 0;
    text-decoration: none;
    color: #24b24b;
    cursor: pointer;
}

.links-section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
}

.link {
    /* margin-left: 7.5rem; */
    padding: 0 4.5rem;
    color: #24b24b;
    text-decoration: none;
    display: flex;
    height: 6.5rem;
    align-items: center;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: border-color 500ms ease-in-out;
}

.link--active {
    /* color: #24b24b; */
    border-bottom: 5px solid #83e29d;
}

.link h4 {
    margin: 0;
}

.link--donate {
    margin: 0;
    margin-left: 7.2rem;
    padding: 1rem;
    border: 3px solid #24b24b;
}

@media (max-width: 745px) {
    .links-section {
        display: none;
    }
}