.links-holder {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.links-holder a {
    margin-bottom: 35px;
    margin-right: 50px;
    text-decoration: none;
    color: white;
    transition: transform 150ms ease-in-out;
    font-size: larger;
}

.links-holder a:hover {
    transform: scale(1.1);
}

.links-section--mobile > i {
    font-size: 4rem;
    color: #24b24b;
}

.link--mobile {
    margin: 1rem;
}