.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    /* display: flex;
    flex-direction: column; */
    padding: 10rem;
    position: absolute;
    /* top: 10rem;
    bottom: 10rem;
    left: 10rem;
    right: 10rem; */
    width: 70%;
    max-height: 50%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(78,76,80,.185);
}

@media (max-width: 745px) {
    .modal {
        padding: 3rem;
        /* left: 3rem;
        right: 3rem; */
    }
}