.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    padding: 10rem;
    position: absolute;
    max-width: 70%;
    max-height: 50%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(78,76,80,.185);
}

@media (max-width: 745px) {
    .modal {
        padding: 3rem;
    }
}

.mini-container > p {
    margin-bottom: 0rem;
}

.mini-container > a {
    margin-left: 3rem;
}