.ReactModalPortal .ReactModal__Overlay {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    position: relative;
    z-index: 2;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* old */
    padding: 10rem;
    position: absolute;
    max-width: 70%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(78,76,80,.185);
    outline: none;
}

@media (max-width: 745px) {
    .modal {
        padding: 3rem;
        min-width: 70%;

    }
    .bank-container p {
        font-size: 1.3rem;
    }
    .bank-container a {
        font-size: 1.3rem;
        align-self: center;
    }
}

@media (min-width: 745px) {
    .bank-container {
        align-items: center;
    }
}

.mini-container > p {
    margin-bottom: 0rem;
}

.mini-container > a {
    margin-left: 3rem;
    color: #24b24b;
}

.bank-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.1rem;
}

.bank-container > p {
    margin: 0;
}

.bank-container .my-label {
    color: #24b24b;
}
