.page {
    margin: 0;
    min-height: 99%;
    border-bottom: 1vh solid #24b24b;
    display: block;
}

.page--first {
    min-height: 79%;
}

@media (min-width: 745px) {
    .page {
        display: flex;
    }

    .page__content {
        margin-top: 5rem;
        margin-right: 10rem;
    }

    .page__content--left {
        margin-left: 10rem;
    }
}

.page__content {
    flex: 1;
    padding: 2rem;
    color: #3e434d;
}

.page__content--centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page__content--left {
  
}

.page__content__header {
    line-height: 50px;
    font-size: 4rem;
}

.page__content p {
    line-height: 30px;
}

.projects {
    display: flex;
    flex: 1;
    justify-content: center;
    background: #24b24b;
}

.projects h1 {
    color: white;
    overflow: hidden;
}

.projects li {
    color: white;
    margin-bottom: 30px;
    font-size: large;
}