.page {
    margin: 0;
    height: 89vh;
    border-bottom: 1vh solid #24b24b;
    position: relative;
    display: flex;
    /* justify-content: end; */
}

.page--first {
    height: 79vh;
}

.page__content {
    width: 50rem;
    margin-top: 5rem;
    margin-right: 10rem;
    color: #3e434d;
}

.page__content--left {
    margin-left: 12rem;
}

.page__content__header {
    line-height: 50px;
    font-size: 4rem;
}

.page__content p {
    line-height: 30px;
}

.carousel {
    flex: 1;
    display: flex;
    justify-content: center;
    background: #24b24b;
}

.carousel h1 {
    color: white;
}

.carousel li {
    color: white;
    margin-bottom: 30px;
    font-size: large; 
}